@model System.Data.DataTable
@{
    ViewBag.Title = "Index";
}

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Distributor</th>
        <th>Genre</th>
        <th>Year</th>
        <th>Country</th>
        <th>Duration</th>
        <th>Trailer</th>
        <th></th>
    </tr>
    @for (int i = 0; i < Model.Rows.Count; i++)
    {
        <tr>
            <td>@Model.Rows[i][1]</td>
            <td>@Model.Rows[i][2]</td>
            <td>@Model.Rows[i][3]</td>
            <td>@Model.Rows[i][4]</td>
            <td>@Model.Rows[i][5]</td>
            <td>@Model.Rows[i][6]</td>
            <td>@Model.Rows[i][7]</td>
            <td>
                <a href="@Url.Action("Edit", "Film", new {@id = @Model.Rows[i][0] })">Edit</a>
            </td>
        </tr>
    }
</table>

<a href="@Url.Action("Create", "Film")">Add Film</a>